/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=Pacifico&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

/* variables */

:root {
    margin: 0;
    padding: 0;
    overflow: auto;
    --header-height: 3rem;
    --nav-width: 300px;
    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* colors */
    --font-white: #FFFFFF;
    --first-color: #662616;
    --faded-blue: #a6dbf0;
    --text_background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    --first-color-dark: #662616;
    --first-color-darken: #290F09;
    --text-color: #54423D;
    --first-color-light: #EAE7E6;
    --first-color-lighten: #FFFFFF;
    --background-black: linear-gradient(to right, #434343 0%, black 100%);
    --background-white: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    --background-blue: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    --background-lighter-blue: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    --background-green: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --background-yellow: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    /* font and typograthy */
    --body-font: 'Poppins', sans-serif;
    --menu-font1: 'Sansita Swashed', cursive;
    --menu-font2: 'Great Vibes', cursive;
    --menu-font3: 'Montserrat', sans-serif;
    --menu-font4: 'Pacifico', cursive;
    --menu-font5: 'Raleway', sans-serif;
    --menu-font6: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .983rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* margins/ */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /* z index */
    --z-fixed: 100;
    --ontop: 100;
    /* box shaddow */
    --shadow: 2px 2px 12px rgb(0, 0, 0, .4)
}

@media screen and (min-width: 768px) {
     :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: .875rem;
        --small-font-size: .813rem;
        --smaller-font-size: .813rem;
    }
}

*,
::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--var(--first-color-lighten));
    color: var(--text-color);
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    user-select: none;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    user-select: none;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-title {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
    font-size: var(--h2-font-size);
}


/* ====Layout==== */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.main_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-image: var(--background-yellow);
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    user-select: none;
}


/* Nav */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    user-select: none;
}

.nav_logo {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: var(--font-bold);
    user-select: none;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px -2px 0px rgba(175, 109, 109, 0.9);
}

.nav_logo:hover {
    color: rgb(68, 22, 22);
    letter-spacing: 2px;
    border-radius: 5rem;
    text-overflow: clip;
    text-shadow: 2px -2px 0px rgba(175, 109, 109, 0.9);
}

.nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    border: none;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    font-family: var(--menu-font6);
    background-image: var(--background-yellow);
    transition: .5s;
    user-select: none;
}

.nav_close {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav_close:hover {
    color: var(--font-white);
    transition: .3s;
}

.nav_item {
    margin-bottom: var(--mb-4);
}

.nav_link {
    position: relative;
    top: -3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(104, 100, 100);
    font-weight: var(--font-bold);
    transition: .3s;
    user-select: none;
}

.nav_list .fas,
.far {
    padding-right: 1.5rem;
    font-size: 1.5rem;
    margin-left: -1rem;
    color: var(--font-white);
    transform: translate(5px, 3px);
    user-select: none;
}

.nav_list .far:hover {
    color: var(--first-color);
    transition: .2s;
}

.nav_list .fas:hover {
    color: var(--first-color);
    transition: .2s;
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_toggle .fas {
    font-size: var(--h1-font-size);
    transition: .4s;
}

.nav_toggle:hover .fas {
    font-size: 3rem;
    margin-top: -.3rem;
    border-radius: 15%;
    transition: .7s;
}

.nav_toggle {
    color: var(--font-white);
    font-size: 1.3rem;
    cursor: pointer;
}


/* Show menu */

.show {
    left: 0;
}


/* Active class */

.active {
    text-decoration: underline;
    color: red;
    transition: 0;
}

.active2 {
    background-color: red;
    background-image: linear-gradient(to top, #f77062 100%, #fe5196 100%);
}


/* home */

.home_container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}


/* spinner */

#spinner {
    position: fixed;
    text-align: justify;
    left: 35%;
    top: 20%;
    z-index: 9999;
}


/* profile image container */

.home_img {
    padding: 1.3rem 0rem 0rem .8rem;
    margin-top: 2rem;
    width: 170px;
    height: 170px;
    background-image: var(--text_background);
    border-radius: .5em;
    overflow: hidden;
    margin-bottom: var(--mb-2);
    justify-content: center;
}


/* image resizing */

.home_img img {
    margin-top: -1.5rem;
    margin-left: -.3rem;
    border-radius: .3em;
    width: 155px;
}

#about_card {
    background-image: var(--background-yellow);
    border-radius: .6rem;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.card-body .intro_text {
    text-align: left;
    font-size: 20px;
    color: #050505;
    text-shadow: var(--shadow);
}


/* home title/name */

.home_title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
    padding-bottom: .8rem;
    text-shadow: 1px 3px 2px rgba(175, 109, 109, 0.9);
}


/* profesion text */

.home_profession {
    font-size: var(--font-medium);
    font-weight: var(--font-semi-bold);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
    letter-spacing: 4px;
}


/* social icons */

.home_social {
    margin-bottom: 5rem;
}

.home_social-link {
    display: inline-flex;
    background-image: var(--text_background);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .90rem;
    transition: .6s;
    margin: 0 var(--mb-1);
    border: .4rem solid rgb(241, 231, 231);
    transition: .3s;
}

.home_social-link:hover {
    background-image: var(--background-dark);
    color: var(--text_background);
    box-shadow: var(--shadow)
}

.home_container .home_data {
    margin-top: 3rem;
}

.button {
    display: inline-block;
    background-color: var(--background-white);
    color: var(--first-color-dark);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    border-radius: .3rem;
    transition: .3s;
}

.button_container a:nth-child(2) {
    margin-top: 1rem;
    background-image: var(--text_background);
    color: var(--font-white);
    border: none;
}

.button_container a:nth-child(2):hover {
    background-image: var(--background-black);
    color: var(--font-white);
    border: none;
}

#btn_section {
    margin-top: 3rem;
}

.button:hover {
    background-image: var(--background-black);
    color: var(--font-white);
    border: none;
}


/* about */

.about_container {
    row-gap: 2rem;
}

.about_data {
    text-align: center;
    text-align: start;
}

.about_description {
    margin-bottom: var(--mb-4);
}

.about_img {
    width: 100vw;
    border-radius: .6rem;
    border: 3px solid black;
    margin: 0 auto;
}

.about_infomation {
    margin-bottom: var(--mb-4);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about_infomation-data {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    margin-bottom: var(--mb-3);
}

.about_information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about_information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small {
    font-size: var(--small-font-size);
}

.section-subtitle {
    text-align: center;
    color: #FFFFFF;
}


/* Skills */

.skills_container {
    row-gap: 2rem;
}

.skills_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills_data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills_name {
    text-transform: uppercase;
}

.skills_bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-image: var(--background-blue);
}


/* skills frontend bar */

.skills_html {
    width: 85%;
}

.skills_js {
    width: 80%;
}

.skills_vue {
    width: 65%;
}

.skills_bootstrap {
    width: 80%;
}


/* skills backend  bar */

.skills_nodejs {
    width: 60%;
}

.skills_js {
    width: 80%;
}

.skills_mongodb {
    width: 75%;
}

.skills_jquery {
    width: 70%;
}


/* Education */

.education_container {
    word-wrap: 2rem;
}

.education_content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.education_race {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education_university,
.education_specialty {
    display: block;
    font-size: var(--small-font-size);
}

.education_year,
.education_university {
    text-align: right;
}

.education_time {
    padding: 0rem;
    justify-self: center;
    padding: 0rem .7rem 0rem .7rem;
}

.education_rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: var(--background-blue);
    border-radius: 50%;
}

.education_rounder::before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--faded-blue);
    border-radius: 50%;
}


/* ------------------------------------- */

.education_line {
    display: block;
    height: 90%;
    width: 2px;
    background-image: var(--background-blue);
    transform: translate(5px, -4px);
}


/* services */

.services_container {
    row-gap: 2rem;
}

.services_content {
    padding: 1.5rem .5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}

.services_icon {
    font-size: 2rem;
    padding: .5rem;
    background-image: var(--background-blue);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services_title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
    transition: .5s;
}

.services_content .services_icon {
    box-shadow: var(--shadow);
}

.services_content:hover {
    background-image: var(--background-yellow);
}

.services_content:hover .services_icon {
    background-color: var(--first-color-light);
    color: var(--first-color);
    border: 2px solid var(--text-color);
}

.services_content:hover .services_title {
    color: var(--first-color-lighten);
}

.services_content:hover .services_description {
    color: var(--first-color-lighten);
}


/* project in mind */

.project {
    background-image: var(--background-yellow);
    padding-bottom: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    justify-content: center;
    border-radius: .4rem;
}

.project_container {
    row-gap: 2rem;
}

.project_data {
    text-align: center;
}

.project_title,
.project_description {
    color: var(--first-color-lighten);
}

.project_description {
    margin-bottom: var(--mb-4);
}

.project_img {
    width: 220px;
    justify-self: center;
    margin: 1rem 1rem;
    border: 2px solid var(--faded-blue);
}


/* Works/projects */

.works_container {
    justify-content: center;
    row-gap: 2rem;
}

.works_img img {
    border-radius: .5rem;
}

.works_img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works_data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--background-yellow);
    border-radius: .5rem;
    transition: .3s;
}

.works_link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.works_title {
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}

.works_img:hover .works_data {
    bottom: 0;
    cursor: progress;
}


/* contact */

.contact_container {
    row-gap: 3rem;
}

.contact_input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    box-shadow: var(--shadow);
    background-image: var(--background-yellow);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .4rem;
}

.contact ::placeholder {
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact_button {
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact_info {
    margin-bottom: var(--mb-3);
}

.contact_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: mb1;
}

.contact_text {
    display: block;
    padding-left: 1rem;
}


/* footer */

.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer_description {
    margin-bottom: var(--mb-2);
}

.footer_s {
    margin-bottom: 3rem;
}

.footer_link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    margin: 0 var(--mb-1);
    border-radius: 50%;
    padding: .8rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer_link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.footer_copyright {
    padding: 1rem;
    font-size: var(--small-font-size);
    color: var(--font-white);
}


/* Media Queries */

@media screen and (min-width: 768px) {
    .home_button {
        width: initial;
    }
    .nav_menu {
        width: var(--nav-width);
    }
    .about_container,
    .skills_container,
    .services_container,
    .works_container,
    .contact_container,
    .contact_inputs {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ..................... */
    .nav_list .far:hover {
        color: var(--first-color);
        transition: .2s;
    }
    .nav_list .fas:hover {
        color: var(--first-color);
        transition: .2s;
    }
    .nav_link:hover {
        color: var(--text-color);
    }
    .nav_toggle .fas {
        font-size: var(--h1-font-size);
        transition: .4s;
    }
    .nav_toggle {
        color: var(--font-white);
        font-size: 1.3rem;
        cursor: pointer;
    }
    input:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        opacity: .6;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        background-image: var(--background-white);
    }
    textarea:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        opacity: .6;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        background-image: var(--background-white);
    }
    .about_data {
        text-align: initial;
    }
    .about_description {
        margin-bottom: var(--mb-5);
    }
    .about_img {
        width: 220px;
    }
    .about_inf {
        padding-left: 4rem;
    }
    #about_card {
        border: .2rem solid #d3bfaf;
        opacity: 10;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
    .card-body .intro_text {
        color: #532b2b;
        font-size: 1.5rem;
    }
    .about_infomation-data span {
        color: #361d1d;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .about_information {
        padding-left: 4rem;
    }
    .education_time {
        padding: 0 2rem;
    }
    .project {
        background: none;
    }
    .project_container {
        background-image: var(--background-yellow);
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
    }
    .project_data {
        padding: 3rem 0;
    }
    .project_title,
    .project_data {
        text-align: initial;
    }
    .project_data a {
        color: var(--font-white);
    }
    .about_img {
        display: none;
        visibility: hidden;
    }
    .project_img {
        align-self: flex-ends;
    }
    .contact_inputs {
        display: grid;
        column-gap: 1.5rem;
    }
    .contact_info {
        padding-left: 3rem;
    }
    .section-title {
        padding-bottom: 3rem;
        letter-spacing: 1px;
    }
    .footer {
        background-image: var(--background-yellow);
        bottom: -10%;
        padding-bottom: 0%;
    }
    .footer_container {
        margin-bottom: -10rem;
        color: var(--first-color-darken);
        border: none;
        background-image: var(--background-yellow);
    }
    .footer_title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
        color: var(--first-color-dark);
        font-weight: bolder;
    }
    .footer_description {
        margin-bottom: var(--mb-2);
        color: var(--first-color-dark);
        letter-spacing: 2px;
    }
    .footer_link {
        display: inline-flex;
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        margin: 0 var(--mb-1);
        padding: .8rem;
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    .footer_link:hover {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
        border: .1rem solid var(--font-white);
    }
    .footer_copyright {
        padding: 1rem;
        font-size: var(--font-medium);
        color: var(--font-white);
        letter-spacing: 2.5px;
    }
}

@media screen and (min-width: 1027px) {
    body {
        margin: 0;
        color: #864a39;
        padding-left: var(--nav-width);
        scroll-behavior: smooth;
        text-shadow: 1px -1px 1px rgba(248, 244, 244, 0.9);
        background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    }
    .main {
        scroll-behavior: smooth;
    }
    .main_header {
        position: relative;
        width: 0;
        color: #864a39;
    }
    .nav_toggle,
    .nav_logo,
    .nav_close {
        display: none;
    }
    .nav_menu {
        left: 0;
        background-image: var(--background-black);
        box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
        transition: .6s;
    }
    /* spinner */
    #spinner {
        position: fixed;
        text-align: justify;
        left: 56%;
        top: 20%;
        z-index: 9999;
    }
    /* profile image */
    .home_container .home_data {
        padding-top: .8rem;
        min-width: 1027px;
    }
    .home_img {
        border-left: 1rem solid #6e2511;
        border-right: 1rem solid #6e2511;
        height: 150px;
        width: 180px;
    }
    .home_img img {
        margin-left: -.4rem;
        border-radius: .6em;
        background-image: none;
        overflow: hidden;
        justify-content: center;
    }
    .home_social-link {
        display: inline-flex;
        background-image: var(--background-black);
        color: white;
        box-shadow: var(--shadow);
        border: .1rem solid rgb(221, 170, 112);
        font-size: 2rem;
        border-radius: 50%;
        padding: .80rem;
        margin: 0 var(--mb-1);
        transition: .3s;
        transform: rotate(180deg);
        user-select: none;
    }
    .home_social-link:hover {
        background-image: var(--background-dark);
        border: .2rem solid rgb(241, 231, 231);
        transition: .8s;
        color: #6e1d07;
        transform: rotate(0deg);
        box-shadow: var(--shadow);
    }
    .home_title {
        color: #6e2511;
        font-size: 2rem;
        padding-top: 5rem;
        text-shadow: 1px -2px 1px rgba(46, 40, 40, 0.9);
    }
    .home_profession {
        text-shadow: 1px 1px 1px rgba(190, 177, 177, 0.9);
        color: rgb(252, 244, 244);
        padding-top: 2rem;
    }
    .nav_menu {
        box-shadow: var(--shadow)
    }
    .nav_list {
        position: relative;
        top: -4rem;
        color: red;
        margin-top: 14rem;
    }
    .nav_list li {
        padding-bottom: 3rem;
    }
    .nav_link:hover {
        color: red;
    }
    .home_container {
        height: 100vh;
    }
    #btn_section .button {
        margin-bottom: 0rem;
        border-left: .8rem solid #864a39;
        border-right: .8rem solid #864a39;
    }
    .button_container a:nth-child(1) {
        color: #FFFFFF;
    }
    .button_container a:nth-child(1):hover {
        transition: .5s;
        color: #FFFFFF;
        border: 2px solid white;
        text-shadow: 1000px 1px 1px rgba(240, 119, 119, 0.9);
    }
    .button_container a:nth-child(2) {
        margin-top: 1rem;
        background-image: var(--background-black);
        color: var(--font-white);
        border: none;
    }
    .button_container a:nth-child(2):hover {
        background-image: var(--background-black);
        color: var(--font-white);
        border: 2px solid white;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        transition: .5s;
    }
    /* about */
    .about_container {
        height: 100vh;
        width: 100vw;
    }
    .about_inf {
        margin-left: 5rem;
    }
    .about_information {
        padding-left: 6rem;
    }
    #abt_1 {
        padding-bottom: 5rem;
    }
    #about_card {
        border: .2rem solid #dfa579;
        color: white;
        opacity: 10;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    }
    .card-body .intro_text {
        color: #FFFFFF;
        font-size: 1.5rem;
    }
    .about_infomation-data span {
        color: #FFFFFF;
        font-size: 1.1rem;
    }
    .education_time {
        display: block;
        height: 100%;
        width: 2px;
        padding-left: 8rem;
        padding-right: 8rem;
        transform: translate(5px, -4px);
    }
    .education_year,
    .education_university {
        padding-bottom: 1.5rem;
    }
    .card-text {
        text-align: justify;
        color: rgb(70, 19, 19) !important;
        font-size: 1.3rem !important;
        text-shadow: 1.8px 1px 1px rgba(24, 23, 23, 0.9);
    }
    .about_img {
        display: none;
    }
    .skills_content {
        position: relative;
        left: 2rem;
    }
    .skills_data {
        padding-bottom: 1rem;
        color: white;
        font-size: 1.2rem;
    }
    .skills_number {
        color: rgb(87, 19, 19);
        font-size: 1.5rem;
        text-shadow: 1px -2px 1px rgba(31, 9, 10, 0.9);
    }
    .section {
        padding: 3rem 0 2rem;
    }
    .education_container .education_content {
        color: #FFFFFF;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .services_container,
    .works_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .project_container {
        box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
        color: var(--first-color-darken);
        background-image: inherit
    }
    .project_data .button {
        color: #FFFFFF;
        border-left: .8rem solid #FFFFFF;
        border-right: .8rem solid #FFFFFF;
        transition: ease-in;
        text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.9);
    }
    .project_data .button:hover {
        color: #FFFFFF;
        transition: .5s;
        background: #FFFFFF;
        transition: ease-in-out;
        border-left: .8rem solid #864a39;
        border-right: .8rem solid #864a39;
        text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.9);
    }
    .services_description {
        color: #4b0303;
        font-size: 1.2rem;
        transition: .6s;
        justify-content: left;
        text-shadow: 1.8px 1px 1px rgba(24, 23, 23, 0.9);
    }
    .services_title {
        color: white;
        font-size: 1.5rem;
        transition: .5s;
        text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.5);
    }
    .services_content {
        box-shadow: -10px 10px 10px rgb(0, 0, 0, .4);
        border-left: .6rem solid #FFFFFF;
        border-right: .6rem solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        transition: .5;
        border-top-left-radius: .9rem;
        border-top-right-radius: .9rem;
        border-bottom-left-radius: .9rem;
        border-bottom-right-radius: .9rem;
    }
    .services_content:hover {
        background-image: var(--background-black);
        border: .5rem solid #864a39;
        border-left: .6rem solid #864a39;
        border-right: .6rem solid #864a39;
        border-top: 1px solid #864a39;
        border-bottom: 1px solid #864a39;
    }
    .services_icon {
        background: #864a39;
        transition-timing-function: .5s;
        border: .8rem solid #bb8474;
    }
    .services_content:hover .services_icon {
        background: #864a39;
        color: var(--font-white);
        border: .4rem solid white
    }
    .services_content:hover .services_title {
        color: var(--first-color-lighten);
        transition: .5;
    }
    .services_content:hover .services_description {
        color: var(--first-color-lighten);
    }
    .works_img {
        box-shadow: 10px 30px 25px rgb(0, 0, 0, .4);
    }
    .works_container {
        justify-content: center;
        row-gap: 2rem;
    }
    .works_img img {
        border-radius: .5rem;
        height: 200px;
        width: 300px;
        border: 2rem solid rgb(206, 116, 116);
        box-shadow: 2px 100px 20px rgb(0, 0, 0, .4);
    }
    .works_img {
        position: relative;
        /* overflow: hidden; */
        height: 200px;
        width: 300px;
        border-radius: .5rem;
    }
    .works_data {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--background-black);
        box-shadow: 2px 2px 12px rgba(5, 5, 5, 0.7);
        border-radius: .5rem;
        transition: .3s;
    }
    .works_link {
        display: inline-flex;
        font-size: 2rem;
        background-image: var(--background-black);
        padding: .50rem;
        margin-bottom: var(--mb-2);
    }
    .works_title {
        font-size: var(--h2-font-size);
        color: var(--first-color-lighten);
    }
    .works_img img {
        border: 2rem solid #b97765;
    }
    .works_img:hover .works_data {
        bottom: 0;
        cursor: pointer;
    }
    input:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        opacity: .6;
        border-left: 7px solid #864a39;
        border-right: 7px solid #864a39;
        transition: .8s;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        background-image: var(--background-white);
    }
    textarea:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        transition: .8s;
        border-left: 7px solid #864a39;
        border-right: 7px solid #864a39;
        background-image: var(--background-white);
    }
    /* contacts */
    .contact_input {
        width: 100%;
        padding: 1rem;
        outline: none;
        border: none;
        background-image: #864a39;
        box-shadow: var(--shadow);
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-2);
        border-radius: .4rem;
    }
    .contact_info .contact_text {
        color: #FFFFFF;
        padding: .3rem;
        border-radius: .4rem;
        letter-spacing: 2px;
        height: 3rem;
    }
    #submit_btn {
        color: #FFFFFF;
        transition: .9s;
        border-left: .8rem solid #FFFFFF;
        border-right: .8rem solid #FFFFFF;
        text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.9);
    }
    #submit_btn:hover {
        color: #FFFFFF;
        transition: .9s;
        background: #FFFFFF;
        border-left: .8rem solid #864a39;
        border-right: .8rem solid #864a39;
        text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.9);
    }
    /* footer */
    main {
        padding-bottom: 5rem;
    }
    .footer {
        position: relative;
        margin-left: -7rem;
        background-image: linear-gradient(to right, black 100%, black 100%);
        bottom: -10%;
        padding-bottom: 0%;
    }
    .footer_container {
        margin-bottom: -10rem;
        color: var(--first-color-darken);
        border: none;
        background-image: none;
        user-select: none;
    }
    .footer_title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
        color: var(--font-white);
        font-weight: bolder;
    }
    .footer__s .footer_link {
        margin-right: 5rem;
        padding-bottom: 1rem;
    }
    .footer_description {
        margin-bottom: var(--mb-2);
        color: var(--font-white);
        letter-spacing: 2px;
        user-select: none;
    }
    .footer_link {
        display: inline-flex;
        justify-content: space-between;
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        margin: 0 var(--mb-1);
        padding: 1rem;
        font-size: var(--h2-font-size);
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    .footer_link:hover {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
        border: .1rem solid var(--font-white);
    }
    .footer_copyright {
        padding: 1rem;
        font-size: var(--font-medium);
        color: var(--font-white);
        letter-spacing: 2px;
    }
}


/* ========================================= */