/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=Pacifico&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

/* variables */

:root {
    margin: 0;
    padding: 0;
    overflow: auto;
    --header-height: 3rem;
    --nav-width: 300px;
    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* colors */
    --font-white: #FFFFFF;
    --first-color: #662616;
    --faded-blue: #a6dbf0;
    --text_background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    --first-color-dark: #662616;
    --first-color-darken: #290F09;
    --text-color: #54423D;
    --first-color-light: #EAE7E6;
    --first-color-lighten: #FFFFFF;
    --background-black: linear-gradient(to right, #434343 0%, black 100%);
    --background-white: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    --background-blue: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    --background-lighter-blue: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    --background-green: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --background-yellow: linear-gradient(-20deg, #faaca8 100%, #faaca8 100%, #faaca8 100%);
    /* font and typograthy */
    --body-font: 'Poppins', sans-serif;
    --menu-font1: 'Sansita Swashed', cursive;
    --menu-font2: 'Great Vibes', cursive;
    --menu-font3: 'Montserrat', sans-serif;
    --menu-font4: 'Pacifico', cursive;
    --menu-font5: 'Raleway', sans-serif;
    --menu-font6: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .983rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* margins/ */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /* z index */
    --z-fixed: 100;
    --ontop: 100;
    /* box shaddow */
    --shadow: 2px 2px 12px rgb(0, 0, 0, .4);
}

@media screen and (min-width: 768px) {
     :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: .875rem;
        --small-font-size: .813rem;
        --smaller-font-size: .813rem;
    }
}

*,
::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--var(--first-color-lighten));
    color: var(--text-color);
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    user-select: none;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

.glass_effect {
    backdrop-filter: blur(20px);
}


/* *************************************** */

.home_img {
    width: 50%;
    margin: 50px auto;
    box-sizing: border-box;
    position: relative;
    border-radius: .2rem;
}

.prof_pho {
    max-width: 100%;
    display: block;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    user-select: none;
    border-radius: .2rem;
}

.prof_pho:hover {
    border: .4rem solid #ce8981;
    transition: .6s;
    border-bottom-color: rgb(rgb(254, 173, 166));
}

.home_img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(109, 94, 92, .3);
    transition: .6s;
    left: -1.5rem;
    top: -1rem;
    z-index: -2;
    border-radius: .2rem;
    box-sizing: border-box;
    position: absolute;
}

.home_img::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(151, 142, 140, .5);
    transition: .4s;
    left: -2.5rem;
    top: -2rem;
    z-index: -4;
    border-radius: .2rem;
    box-sizing: border-box;
    position: absolute;
}

.home_img:hover::before,
.home_img:hover::after {
    left: 0;
    top: 0;
    transition: .5s;
    background: rgba(5, 5, 5, 0.3);
}


/* ******************************************/

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-title {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
    font-size: var(--h2-font-size);
}


/* ====Layout==== */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.main_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-image: var(--background-yellow);
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
    user-select: none;
}


/* Nav */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    user-select: none;
}

.nav_logo {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: var(--font-bold);
    user-select: none;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px -2px 0px rgba(175, 109, 109, 0.9);
}

.nav_logo:hover {
    color: rgb(68, 22, 22);
    letter-spacing: 2px;
    border-radius: 5rem;
    text-overflow: clip;
    text-shadow: 2px -2px 0px rgba(175, 109, 109, 0.9);
}

.nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    border: none;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    font-family: var(--menu-font6);
    background-image: var(--background-yellow);
    transition: .5s;
    user-select: none;
}

.nav_close {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav_close:hover {
    color: var(--font-white);
    transition: .3s;
}

.nav_item {
    margin-bottom: var(--mb-4);
}

.nav_link {
    position: relative;
    top: -3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(104, 100, 100);
    font-weight: var(--font-bold);
    transition: .3s;
    user-select: none;
}

.nav_list {
    box-shadow: 10px 100px 30px rgb(0, 0, 0, .5);
    height: 100vh;
    padding-left: .5rem;
    background-color: #faaca8;
    padding: 1rem;
    margin-left: 2rem
}

.nav_list .fas,
.far {
    padding-right: 1.5rem;
    font-size: 1.5rem;
    margin-left: -1rem;
    color: var(--font-white);
    transform: translate(5px, 3px);
    user-select: none;
}

.nav_list .far:hover {
    color: var(--first-color);
    transition: .2s;
}

.nav_list .fas:hover {
    color: var(--first-color);
    transition: .2s;
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_toggle .fas {
    font-size: var(--h1-font-size);
    transition: .4s;
}

.nav_toggle:hover .fas {
    font-size: 3rem;
    margin-top: -.3rem;
    border-radius: 15%;
    transition: .7s;
}

.nav_toggle {
    color: var(--font-white);
    font-size: 1.3rem;
    cursor: pointer;
}


/* ==========standard card shaddiw================ */

.card_shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card_shadow:before,
.card_shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
}

.card_shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}


/* ============standard inner shaddow=========== */


/* Show menu */

.show {
    left: 0;
}


/* Active class */

.active {
    color: red;
    line-height: 2px;
    letter-spacing: 5px;
    text-decoration: solid;
    text-decoration: underline;
    text-overflow: clip;
}


/* home */

.home_container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}


/* spinner */

#spinner {
    position: absolute;
    justify-self: center;
    left: 35%;
    top: 20%;
    z-index: 9999;
}


/* image resizing */

#about_card {
    background-image: var(--background-yellow);
    border-radius: .6rem;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.group_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_img img {
    width: 100%;
    margin: auto;
}

.card-body .intro_text {
    text-align: left;
    font-size: 1.38rem;
    color: #050505;
    text-shadow: var(--shadow);
    opacity: .7;
}


/* home title/name */

.home_title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
    padding-bottom: .8rem;
    text-shadow: 1px 3px 2px rgba(175, 109, 109, 0.9);
}


/* profesion text */

.home_profession {
    font-size: var(--font-medium);
    font-weight: var(--font-semi-bold);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
    letter-spacing: 4px;
}


/* social icons */

.home_social {
    margin-bottom: 5rem;
}

.home_social-link {
    display: inline-flex;
    background-image: var(--text_background);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .90rem;
    transition: .6s;
    margin: 0 var(--mb-1);
    border: .4rem solid rgb(241, 231, 231);
    transition: .3s;
}

.home_social-link:hover {
    background-image: var(--background-dark);
    color: var(--text_background);
    box-shadow: var(--shadow)
}

.home_container .home_data {
    margin-top: 3rem;
}

.button {
    display: inline-block;
    background-color: var(--background-white);
    color: var(--first-color-dark);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    border-radius: .3rem;
    transition: .3s;
}

.button_container a:nth-child(2) {
    margin-top: 1rem;
    background-image: var(--text_background);
    color: var(--font-white);
    border: none;
}

.button_container a:nth-child(2):hover {
    background-image: var(--background-black);
    color: var(--font-white);
    border: none;
}

#btn_section {
    margin-top: -3rem;
}

.button:hover {
    background-image: var(--background-black);
    color: var(--font-white);
    border: none;
}


/* about */

.about_container {
    row-gap: 2rem;
}

.about_data {
    text-align: center;
    text-align: start;
}

.about_description {
    margin-bottom: var(--mb-4);
}

.about_img {
    width: 100vw;
    border-radius: .6rem;
    border: 3px solid black;
    margin: 0 auto;
}

.about_infomation {
    margin-bottom: var(--mb-4);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about_infomation-data {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    margin-bottom: var(--mb-3);
}

.about_information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about_information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small {
    font-size: var(--small-font-size);
}

.section-subtitle {
    text-align: center;
    color: #FFFFFF;
}


/* Skills */

.skills_container {
    row-gap: 2rem;
}

.skills_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills_data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills_name {
    text-transform: uppercase;
}

.skills_bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-image: var(--background-blue);
}


/* skills frontend bar */

.skills_html {
    width: 85%;
}

.skills_js {
    width: 80%;
}

.skills_vue {
    width: 65%;
}

.egg {
    position: absolute;
    width: 100%;
    height: 88%;
    z-index: -9999;
    background-repeat: repeat;
    background-color: rgb(250, 210, 210);
    transition: 2s;
    transform-style: preserve-3d;
    display: block;
    border: 5rem solid rgb(250, 210, 210);
    box-shadow: -10px 10px 10px rgba(209, 65, 65, 0.4);
    border-radius: 0% 200% 200% 200% / 200% 200% 0% 200%;
}


/* skills backend  bar */

.skills_nodejs {
    width: 60%;
}

.skills_js {
    width: 80%;
}

.skills_mongodb {
    width: 75%;
}

.skills_jquery {
    width: 70%;
}


/* Education */

.education_container {
    word-wrap: 2rem;
}

.education_content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.education_race {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.education_university,
.education_specialty {
    display: block;
    font-size: var(--small-font-size);
}

.education_year,
.education_university {
    text-align: right;
}

.education_time {
    padding: 0rem;
    justify-self: center;
    padding: 0rem .7rem 0rem .7rem;
}

.education_rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: var(--background-blue);
    border-radius: 50%;
}

.education_rounder::before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--faded-blue);
    border-radius: 50%;
}

.education_line {
    display: block;
    height: 90%;
    width: 2px;
    background-image: var(--background-blue);
    transform: translate(5px, -4px);
}


/* services */

.services_container {
    row-gap: 2rem;
}

.services_content {
    padding: 1.5rem .5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
    backdrop-filter: blur(20px);
}

.services_icon {
    font-size: 2rem;
    padding: .5rem;
    background-image: var(--background-blue);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services_title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
    transition: .5s;
}

.services_content .services_icon {
    box-shadow: var(--shadow);
}

.services_content:hover {
    background-image: var(--background-yellow);
}

.services_content:hover .services_icon {
    background-color: var(--first-color-light);
    color: var(--first-color);
    border: 2px solid var(--text-color);
}

.services_content:hover .services_title {
    color: var(--first-color-lighten);
}

.services_content:hover .services_description {
    color: var(--first-color-lighten);
}


/* ==========project flip card mobile========== */

.project {
    display: block;
    justify-content: center;
    align-items: center;
    margin: .3rem auto;
    padding: 3px 15px 0px 15px;
}


/* ==========project flip card mobile========== */

.works_container {
    justify-content: center;
    row-gap: 2rem;
}

.works_img img {
    border-radius: .5rem;
    margin: auto;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}

.works_img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works_data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--background-yellow);
    border-radius: .5rem;
    transition: .3s;
}

.works_link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.works_title {
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}

.works_img:hover .works_data {
    bottom: 0;
    cursor: progress;
}


/* contact */

.contact_container {
    row-gap: 3rem;
}

.contact_input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    box-shadow: var(--shadow);
    background-image: var(--background-yellow);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .4rem;
}

.contact ::placeholder {
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact_button {
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact_info {
    margin-bottom: var(--mb-3);
}

.contact_subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: mb1;
}

.contact_text {
    display: block;
    padding-left: 1rem;
}

#scroll_top_btn {
    position: fixed;
    left: 90%;
    top: 50%;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.3rem;
}

#scroll_top_btn:focus {
    transform: scale(1.1);
}

.top_bt {
    background: rgb(233, 172, 172);
    padding: .3rem 3rem .3rem .3rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    box-shadow: 2px 2px 14px rgb(0, 0, 0, .4);
}


/* footer */

.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer_description {
    margin-bottom: var(--mb-2);
}

.footer_s {
    margin-bottom: 3rem;
}

.footer_link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    margin: 0 var(--mb-1);
    border-radius: 50%;
    padding: .8rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer_link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.footer_copyright {
    padding: 1rem;
    font-size: var(--small-font-size);
    color: var(--font-white);
}


/* Media Queries */

@media screen and (min-width: 768px) {
    .home_button {
        width: initial;
    }
    .nav_menu {
        width: var(--nav-width);
    }
    #spinner {
        position: absolute;
        justify-self: center;
        left: 44%;
        top: 20%;
        padding: 1rem;
        z-index: 9999;
    }
    .about_container,
    .skills_container,
    .contact_container,
    .contact_inputs {
        grid-template-columns: repeat(2, 1fr);
    }
    .services_container,
    .works_container {
        grid-template-columns: repeat(3, 1fr);
    }
    /* ============profile pic animation==============- */
    .home_img {
        width: 25%;
        margin: 50px auto;
        box-sizing: border-box;
        position: relative;
        border-radius: .2rem;
    }
    .prof_pho {
        max-width: 100%;
        display: block;
        box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
        user-select: none;
        border-radius: .2rem;
    }
    .prof_pho:hover {
        border: .4rem solid #ce8981;
        transition: .6s;
        border-bottom-color: rgb(rgb(254, 173, 166));
    }
    .home_img::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(109, 94, 92, .3);
        transition: .6s;
        left: -1.5rem;
        top: -1rem;
        z-index: -2;
        border-radius: .2rem;
        box-sizing: border-box;
        position: absolute;
    }
    .home_img::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(151, 142, 140, .5);
        transition: .4s;
        left: -2.5rem;
        top: -2rem;
        z-index: -4;
        border-radius: .2rem;
        box-sizing: border-box;
        position: absolute;
    }
    .home_img:hover::before,
    .home_img:hover::after {
        left: 0;
        top: 0;
        transition: .5s;
        background: rgba(5, 5, 5, 0.3);
    }
    /* ============profile pic animation==============- */
    .nav_list .far:hover {
        color: var(--first-color);
        transition: .2s;
    }
    .nav_list .fas:hover {
        color: var(--first-color);
        transition: .2s;
    }
    .nav_link:hover {
        color: var(--text-color);
    }
    .nav_toggle .fas {
        font-size: var(--h1-font-size);
        transition: .4s;
    }
    .nav_toggle {
        color: var(--font-white);
        font-size: 1.3rem;
        cursor: pointer;
    }
    input:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        opacity: .6;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        background-image: var(--background-white);
    }
    textarea:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: black;
        opacity: .6;
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        background-image: var(--background-white);
    }
    .about_data {
        text-align: initial;
        display: flex;
        justify-content: space-between;
    }
    .about_description {
        margin-bottom: var(--mb-5);
    }
    #about_card {
        position: relative;
        border: .2rem solid #d3bfaf;
        opacity: 10;
        width: 50vh;
        height: 90vh;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
    .about_infomation {
        padding-bottom: 1rem;
    }
    #abt_2 {
        margin-top: 5rem;
    }
    .card-body .intro_text {
        color: #532b2b;
        font-size: 1.38rem;
        opacity: .7;
        text-shadow: var(--shadow);
    }
    .about_infomation-data {
        padding-bottom: 1rem;
    }
    .about_infomation-data span {
        color: #361d1d;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .about_information {
        padding-left: 4rem;
    }
    .education_content {
        position: relative;
    }
    .education_content,
    .education_race,
    .education_time {
        padding: 0 2rem;
        padding-bottom: 2rem;
    }
    /* ==========project flip card mobile========== */
    .project {
        display: block;
        justify-content: center;
        align-items: center;
        margin: .3rem auto;
        padding: 3px 15px 0px 15px;
    }
    /* ==========project flip card mobile========== */
    .about_img {
        display: none;
        visibility: hidden;
    }
    .contact_inputs {
        display: grid;
        column-gap: 1.5rem;
    }
    .contact_info {
        padding-left: 3rem;
    }
    .section-title {
        padding-bottom: 3rem;
        letter-spacing: 1px;
    }
    /* ============top button style=========== */
    #scroll_top_btn {
        position: fixed;
        left: 95%;
        top: 60%;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 1.3rem;
    }
    #scroll_top_btn:focus {
        transform: scale(1.1);
    }
    #scroll_top_btn:hover {
        transition: .5s;
        border-left: 4px solid rgb(233, 172, 172);
        padding-left: 2px;
        border-radius: .2rem;
        box-shadow: 2px 2px 14px rgba(238, 148, 148, 0.4);
    }
    .top_bt {
        background: rgb(233, 172, 172);
        padding: .3rem 3rem .3rem .3rem;
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
        box-shadow: 2px 2px 14px rgb(0, 0, 0, .4);
    }
    /* ============top button style=========== */
    .footer {
        background-image: var(--background-yellow);
        bottom: -10%;
        padding-bottom: 0%;
    }
    .footer_container {
        margin-bottom: -10rem;
        color: var(--first-color-darken);
        border: none;
        background-image: var(--background-yellow);
    }
    .about_img {
        width: 220px;
    }
    .footer_title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
        color: var(--first-color-dark);
        font-weight: bolder;
    }
    .footer_description {
        margin-bottom: var(--mb-2);
        color: var(--first-color-dark);
        letter-spacing: 2px;
    }
    .footer_link {
        display: inline-flex;
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        margin: 0 var(--mb-1);
        padding: .8rem;
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    .footer_link:hover {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
        border: .1rem solid var(--font-white);
    }
    .footer_copyright {
        padding: 1rem;
        font-size: var(--font-medium);
        color: var(--font-white);
        letter-spacing: 2.5px;
    }
}

@media screen and (min-width: 1027px) {
    body {
        margin: 0;
        color: #864a39;
        padding-left: var(--nav-width);
        scroll-behavior: smooth;
        text-shadow: 1px -1px 1px rgba(248, 244, 244, 0.9);
        background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    }
    .main,
    .home {
        scroll-behavior: smooth;
    }
    .main_header {
        position: relative;
        width: 0;
        color: #864a39;
    }
    .nav_toggle,
    .nav_logo,
    .nav_close {
        display: none;
    }
    .nav_menu {
        left: 0;
        background-image: var(--background-black);
        box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
        transition: .6s;
    }
    /* spinner */
    #spinner {
        position: fixed;
        text-align: justify;
        left: 56%;
        top: 20%;
        z-index: 9999;
    }
    /* active class */
    .active {
        color: red;
        line-height: 2px;
        letter-spacing: 5px;
        text-decoration: solid;
        text-decoration: underline;
        text-shadow: 2px -2px 1px #f10909;
    }
    .fas,
    .fab {
        font-size: 1.8rem;
        text-shadow: 2px -2px 1px #fdfdfd;
    }
    /* profile image */
    .home_container .home_data {
        padding-top: .8rem;
        min-width: 1027px;
    }
    /* ============profile pic animation==============- */
    .home_img {
        width: 20%;
        margin: -2rem auto;
        position: relative;
        border-radius: .2rem;
    }
    .prof_pho {
        max-width: 100%;
        display: block;
        transition: .7s;
        box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
        user-select: none;
        border-radius: .5rem;
    }
    .prof_pho:hover {
        border: .4rem solid #ce8981;
        transition: .7s;
        cursor: pointer;
        padding: 1rem;
        border-radius: .5rem;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
        border-radius: 50rem 50rem 50rem 50rem / 0rem 0rem 50rem 50rem;
        border-bottom-color: rgb(rgb(241, 113, 101));
    }
    .profile_img_shadow_1::before {
        content: "";
        position: absolute;
        width: 299%;
        height: 1800%;
        left: -250%;
        top: -26%;
        transition: .7s;
        z-index: -10;
        border-radius: .2rem;
        box-sizing: border-box;
        background: rgba(3, 3, 3, 0.3);
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    .profile_img_shadow_2::after {
        content: "";
        position: absolute;
        width: 251%;
        height: 1800%;
        transition: .7s;
        left: 49%;
        top: -26%;
        z-index: -10;
        border-radius: .2rem;
        box-sizing: border-box;
        background: rgba(250, 249, 249, 0.5);
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    .shadow_1::before {
        content: "";
        width: 99%;
        height: 215%;
        left: -50%;
        top: -26%;
        background: rgba(255, 0, 0, 0.3);
        transition: .7s;
        z-index: -10;
        border-radius: .2rem;
        box-sizing: border-box;
        position: absolute;
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    .shadow_2::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 215%;
        left: 49%;
        top: -26%;
        z-index: -10;
        transition: .7s;
        border-radius: .2rem;
        box-sizing: border-box;
        background: rgba(250, 249, 249, 0.5);
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    .shadow_1:hover::before {
        content: "";
        width: 100%;
        height: 210%;
        position: absolute;
        transition: .7s;
        left: 49%;
        top: -26%;
        z-index: -20;
        cursor: pointer;
        border-radius: .2rem;
        background: rgba(255, 0, 0, 0.3);
        box-sizing: border-box;
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    .shadow_2:hover::after {
        content: "";
        width: 99%;
        height: 210%;
        left: -50%;
        top: -26%;
        transition: .7s;
        cursor: zoom-in;
        z-index: -20;
        border-radius: .2rem;
        box-sizing: border-box;
        position: absolute;
        background: rgba(250, 249, 249, 0.5);
        box-shadow: 2px 2px 12px rgb(0, 0, 0);
    }
    /* ==================underline psudo elemnet style */
    /* ============profile pic animation==============- */
    .home_social-link {
        display: inline-flex;
        background-image: var(--background-black);
        box-shadow: var(--shadow);
        border: .3rem solid rgb(73, 17, 15);
        font-size: 2rem;
        color: #6e1d07;
        border-radius: 50%;
        padding: .80rem;
        margin: 0 var(--mb-1);
        transition: .3s;
        user-select: none;
    }
    .home_social-link:hover {
        border: .2rem solid rgb(241, 231, 231);
        transition: .5s;
        color: #6e1d07;
        box-shadow: var(--shadow);
    }
    /* .home_title {
        text-shadow: 1px -2px 1px rgba(46, 40, 40, 0.9);
    } */
    /* ==========Text 3d style=========== */
    .text_3D_main {
        font-size: 3em;
        font-weight: 700;
        padding-top: 4rem;
        color: #6e2511;
        user-select: none;
        text-shadow: 1px 1px 1px #080808, 1px 2px 1px #070707, 1px 3px 1px #030303, 1px 4px 1px #020202, 1px 5px 1px #771f1f, 1px 6px 1px #030303, 1px 7px 1px #070000, 1px 8px 1px #030303, 1px 9px 1px #070000, 1px 10px 1px #050000, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(117, 4, 4, 0.2), 1px 30px 60px rgba(7, 0, 0, 0.4);
    }
    .text_3D {
        font-size: 2em;
        font-weight: 700;
        color: #f5f5f5;
        backdrop-filter: blur(20px);
        text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #fdfcfc, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    }
    .home_title span {
        color: white;
        font-weight: 700;
        padding-top: 4rem;
        text-shadow: 1px 1px 1px #faf8f8, 1px 2px 1px #ddd7d7, 1px 3px 1px #fdfcfc, 1px 4px 1px #ee1111, 1px 5px 1px #fcfbfb, 1px 6px 1px #573737, 1px 7px 1px #fcf8f8, 1px 8px 1px #faf8f8, 1px 9px 1px #fcf9f9, 1px 10px 1px #fcfcfc, 1px 18px 6px rgba(253, 251, 251, 0.4), 1px 22px 10px rgba(253, 250, 250, 0.2), 1px 25px 35px rgba(253, 252, 252, 0.2), 1px 30px 60px rgba(250, 247, 247, 0.4);
    }
    /* ===============Text 3d style */
    .home_profession {
        text-shadow: 1px 1px 1px rgba(190, 177, 177, 0.9);
        color: rgb(252, 244, 244);
        padding-top: 2rem;
    }
    .nav_menu {
        box-shadow: var(--shadow)
    }
    .nav_list {
        position: relative;
        top: 0%;
        width: 100vw;
        height: 100vh;
        color: red;
        box-shadow: 10px -1px 100px rgba(247, 7, 7, 0.5);
        padding-left: -1rem;
        padding-top: 5rem;
        background-color: #502626;
        margin: 2rem auto;
    }
    .nav_list li {
        padding-bottom: 4rem;
    }
    .nav_list li>a {
        padding-left: 1rem;
    }
    .nav_link:hover {
        color: red;
    }
    .home_container {
        height: 100vh;
    }
    #btn_section {
        margin-top: -1rem;
    }
    #btn_section .button {
        width: 200px;
        height: 70px;
        font-size: 1.1rem;
        margin-bottom: 0rem;
        border-left: .8rem solid #864a39;
        border-right: .8rem solid #864a39;
    }
    .button_container a:nth-child(1) {
        color: #FFFFFF;
    }
    .button_container a:nth-child(1):hover {
        transition: .5s;
        color: #FFFFFF;
        border: 2px solid white;
        text-shadow: 1000px 1px 1px rgba(240, 119, 119, 0.9);
    }
    .button_container a:nth-child(2) {
        margin-top: 1rem;
        background-image: var(--background-black);
        color: var(--font-white);
        border: none;
    }
    .button_container a:nth-child(2):hover {
        background-image: var(--background-black);
        color: var(--font-white);
        border: 2px solid white;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        transition: .5s;
    }
    /* about */
    .about_container {
        display: none;
    }
    .about_inf {
        margin-left: 5rem;
    }
    #abt_img {
        padding-bottom: 1rem;
    }
    .about_information {
        padding-left: 6rem;
    }
    #abt_1 {
        padding-bottom: 5rem;
    }
    #about_card {
        border: .2rem solid #dfa579;
        color: white;
        opacity: 10;
        text-shadow: -1000px 1px 1px rgba(240, 119, 119, 0.9);
        background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    }
    .card-body .intro_text {
        color: #FFFFFF;
        font-size: 1.38rem;
        opacity: .7;
        text-shadow: var(--shadow);
    }
    .about_infomation-data span {
        color: #FFFFFF;
        font-size: 1.1rem;
    }
    .education_time {
        display: block;
        height: 100%;
        width: 2px;
        padding-left: 8rem;
        padding-right: 8rem;
        transform: translate(5px, -4px);
    }
    .education_year,
    .education_university {
        padding-bottom: 1.5rem;
    }
    .card-text {
        text-align: justify;
        color: rgb(70, 19, 19) !important;
        font-size: 1.3rem !important;
        text-shadow: 1.8px 1px 1px rgba(24, 23, 23, 0.9);
    }
    .about_img {
        display: none;
    }
    .skills_content {
        position: relative;
        left: 2rem;
    }
    .skills_data {
        padding-bottom: 1rem;
        color: white;
        font-size: 1.2rem;
    }
    .skills_number {
        color: rgb(87, 19, 19);
        font-size: 1.5rem;
        text-shadow: 1px -2px 1px rgba(31, 9, 10, 0.9);
    }
    .section {
        padding: 3rem 0 2rem;
    }
    .education_container .education_content {
        color: #FFFFFF;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .services_container,
    .works_container {
        grid-template-columns: repeat(3, 1fr);
    }
    /* ==========project container ========== */
    .project {
        position: relative;
        width: 67vw;
        height: 100%;
        margin: 1rem auto;
        backdrop-filter: blur(20px);
        box-shadow: -10px 10px 10px rgb(0, 0, 0, .4);
        border-left: .6rem solid #FFFFFF;
        border-right: .6rem solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        transition: .5;
        border-top-left-radius: .9rem;
        border-top-right-radius: .9rem;
        border-bottom-left-radius: .9rem;
        border-bottom-right-radius: .9rem;
    }
    /* ==========project flip card mobile========== */
    .project_btn {
        position: relative;
        color: black;
        transition: .9s;
        width: 10rem;
        height: 2.5rem;
        font-size: .7rem;
        margin: .5rem auto;
        backdrop-filter: blur(20px);
        border-left: .8rem solid #913b3b;
        border-right: .8rem solid #913b3b;
        box-shadow: 10px 8px 6px -6px black;
    }
    /* ==========project flip card mobile========== */
    .services_description {
        color: #4b0303;
        font-size: 1.2rem;
        transition: .6s;
        justify-content: left;
        text-shadow: 1.8px 1px 1px rgba(24, 23, 23, 0.9);
    }
    .services_title {
        color: white;
        font-size: 1.5rem;
        transition: .5s;
        text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.5);
    }
    .services_content {
        box-shadow: -10px 10px 10px rgb(0, 0, 0, .4);
        border-left: .6rem solid #FFFFFF;
        border-right: .6rem solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        transition: .5;
        backdrop-filter: blur(20px);
        border-top-left-radius: .9rem;
        border-top-right-radius: .9rem;
        border-bottom-left-radius: .9rem;
        border-bottom-right-radius: .9rem;
    }
    .services_content:hover {
        background-image: var(--background-black);
        border: .5rem solid #864a39;
        border-left: .6rem solid #864a39;
        border-right: .6rem solid #864a39;
        border-top: 1px solid #864a39;
        border-bottom: 1px solid #864a39;
    }
    .services_icon {
        background: #864a39;
        transition-timing-function: .5s;
        border: .8rem solid #bb8474;
    }
    .services_content:hover .services_icon {
        background: #864a39;
        color: var(--font-white);
        border: .4rem solid white
    }
    .services_content:hover .services_title {
        color: var(--first-color-lighten);
        transition: .5;
    }
    .services_content:hover .services_description {
        color: var(--first-color-lighten);
    }
    .works_img {
        box-shadow: 10px 30px 25px rgb(0, 0, 0, .4);
    }
    .works_container {
        justify-content: center;
        row-gap: 2rem;
    }
    .works_img {
        position: relative;
        /* overflow: hidden; */
        height: 200px;
        width: 300px;
        border-radius: .5rem;
    }
    .works_data {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--background-black);
        box-shadow: 2px 2px 12px rgba(5, 5, 5, 0.7);
        border-radius: .5rem;
        transition: .3s;
    }
    .works_link {
        display: inline-flex;
        font-size: 2rem;
        background-image: var(--background-black);
        padding: .50rem;
        margin-bottom: var(--mb-2);
    }
    .works_title {
        font-size: var(--h2-font-size);
        color: var(--first-color-lighten);
    }
    .works_img img {
        border-radius: .5rem;
        height: 200px;
        width: 300px;
        backdrop-filter: blur(20px);
        border: 2rem solid rgba(65, 58, 58, 0.3);
        box-shadow: 2px 100px 20px rgba(0, 0, 0, 0.4);
    }
    .works_img:hover .works_data {
        bottom: 0;
        cursor: pointer;
    }
    input:focus {
        box-shadow: var(--shadow);
        font-size: var(--font-medium);
        color: rgb(78, 75, 75);
        border-left: 8px solid #502626;
        border-right: 8px solid #502626;
        letter-spacing: 1px;
        font-weight: var(--font-semi-bold);
        background-image: var(--background-white);
        transition: .5s !important;
    }
    textarea:focus {
        transition: .5s !important;
        box-shadow: 0 8px 6px -6px black;
        font-size: var(--font-medium);
        color: rgb(78, 75, 75);
        font-weight: var(--font-semi-bold);
        letter-spacing: 1px;
        border-left: 8px solid #864a39;
        border-right: 8px solid #864a39;
        background-image: var(--background-white);
    }
    /* contacts */
    .contact_input {
        width: 100%;
        padding: 1rem;
        outline: none;
        border: none;
        background-image: #864a39;
        box-shadow: 0 8px 6px -6px black;
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-2);
        border-radius: .4rem;
        transition: .8s;
    }
    .contact_info .contact_text {
        color: #864a39;
        font-size: 20px;
        padding: .3rem;
        border-radius: .4rem;
        font-weight: 200;
        letter-spacing: 2px;
        height: 3rem;
        text-shadow: 1px 1px 1px rgba(61, 6, 6, 0.4);
    }
    #submit_btn {
        position: relative;
        color: #FFFFFF;
        transition: .9s;
        width: 10rem;
        height: 3.5rem;
        font-size: 1.1rem;
        border-left: .8rem solid #FFFFFF;
        border-right: .8rem solid #FFFFFF;
        box-shadow: 10px 8px 6px -6px black;
    }
    #submit_btn:hover {
        color: #743939;
        transition: .9s;
        background: #FFFFFF;
        font-size: 1.1rem;
        border-left: .8rem solid #864a39;
        border-right: .8rem solid #864a39;
        text-shadow: 1px -1px 1px rgba(7, 7, 7, 0.9);
    }
    /* footer */
    main {
        padding-bottom: 5rem;
        box-shadow: 0 8px 6px -6px black;
    }
    /* =============scroll top button============== */
    #scroll_top_btn {
        position: fixed;
        left: 98%;
        top: 60%;
        cursor: pointer;
        opacity: .6;
        color: #FFFFFF;
        transition: .5s;
        font-size: 1.3rem;
    }
    #scroll_top_btn:hover {
        transform: scale(1.1);
        border-top-left-radius: .1rem;
        transition: .5s;
        border-bottom-left-radius: .1rem;
        border-left: 4px solid rgb(141, 73, 73);
    }
    .top_bt {
        background: rgb(80, 38, 38);
        padding: .3rem 3rem .3rem .3rem;
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
        box-shadow: 2px 2px 14px rgb(0, 0, 0, .4);
    }
    /* =============scroll top button============== */
    /* ===========fullpage image */
    .footer {
        position: relative;
        margin-left: -7rem;
        background: #502626;
        bottom: -10%;
        padding-bottom: 0%;
        box-shadow: 2px 2px 14px rgb(0, 0, 0, .4);
    }
    .footer_container {
        margin-bottom: -10rem;
        color: var(--first-color-darken);
        border: none;
        background-image: none;
        user-select: none;
    }
    .footer_title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
        color: var(--font-white);
        font-weight: bolder;
    }
    .footer__s .footer_link {
        margin-right: 5rem;
        padding-bottom: 1rem;
        color: rgb(85, 12, 12);
    }
    .footer_description {
        margin-bottom: var(--mb-2);
        color: var(--font-white);
        letter-spacing: 2px;
        user-select: none;
    }
    .footer_link {
        display: inline-flex;
        justify-content: space-between;
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        margin: 0 var(--mb-1);
        padding: 1rem;
        font-size: var(--h2-font-size);
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    .footer_link:hover {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
        border: .1rem solid var(--font-white);
    }
    .footer_copyright {
        padding: 1rem;
        font-size: var(--font-medium);
        color: var(--font-white);
        letter-spacing: 2px;
    }
}


/* ========================================= */